name: Update Versions
on: create

# Sets the manifest and other files version upon creation of a release branch
jobs:
  updateVersions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Get the release branch version
      if: ${{ github.event.ref_type == 'branch' && startsWith(github.event.ref, 'release/') }}
      uses: valadas/get-release-branch-version@v1
      id: branchVersion
      
    - name: Spit out the version for testing
      if: ${{ github.event.ref_type == 'branch' && startsWith(github.event.ref, 'release/') }}
      env:
        VERSION: ${{ steps.branchVersion.outputs.manifestSafeVersionString
      run: echo Version $VERSION
      
