name: Update Versions
on: create

# Sets the manifest and other files version upon creation of a release branch
jobs:
  updateVersions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Get the release branch version
      if: ${{ github.event.ref_type == 'branch' && startsWith(github.event.ref, 'release/') }}
      uses: valadas/get-release-branch-version@v1
      id: branchVersion
      
    - name: Set manifest versions
      uses: valadas/set-dnn-manifest-versions@v1
      with:
        version: ${{ steps.branchVersion.outputs.manifestSafeVersionString }}
