name: Update Versions
on: create

# Sets the manifest and other files version upon creation of a release branch
jobs:
  updateVersions:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Get the release branch version
      if: ${{ github.event.ref_type == 'branch' && startsWith(github.event.ref, 'release/') }}
      uses: valadas/get-release-branch-version@v1
      id: branchVersion
      
    - name: Set manifest versions
      uses: valadas/set-dnn-manifest-versions@master
      with:
        version: ${{ steps.branchVersion.outputs.manifestSafeVersionString }}
        skipFile: './Build/Cake/unversionedManifests.txt'
    
    - name: Get latest dnn version
      uses: valadas/dnn-platform-get-version@v1
      id: latestDnn
    
    - name: Update issue template
      uses: jacobtomlinson/gha-find-replace@0.1.1
      with:
        include: .github/ISSUE_TEMPLATE/bug-report.md
        # The string we want to replace
        find: /\* \[ \].*alpha build\n(.*\n?.*latest supported release)/gm
        # The new string to replace with
        replace: |
          * [ ] ${{ steps.branchVersion.outputs.manifestSafeVersionString }} release candidate
          * [ ] ${{ steps.latestDnn.outputs.manifestSafeVersionString }} latest supported release
    
